.actions {
  width: 100%;
  padding: 8px 0 8px 0;
  background: linear-gradient(to bottom, rgba(52, 61 , 70, .5), rgba(52, 61 , 70, 1));
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all .3s;
  button:active {
    transform: scale(1.05);
  }
  button:not(:hover) {
    transform: scale(1);
  }
}
