@import 'src/variables';

.nav-container {
  display: flex;
  justify-content: space-between;
}

.back-link-page-title-container {
  display: flex;
  align-items: center;
}

::ng-deep .mat-menu-content{
  background-color: rgba($color-accent, .75);
  color: $color-grey-dark-1;
}
