<div class="container">
  <div class="auth-form-container mat-elevation-z12">
    <h1 class="color-primary app-name">Tesorapp</h1>
    <img src="assets/tesorapp_logo.svg" alt="logo" class="logo">
    <div *ngIf="!loading; else spinner" class="form">
      <mat-form-field color="primary">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="authRequest.username">
      </mat-form-field>
      <mat-form-field color="primary">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="authRequest.password">
      </mat-form-field>
      <div class="extra-actions-container">
        <mat-checkbox color="primary" [(ngModel)]="authRequest.remember">
          <span class="color-primary">Remember me</span>
        </mat-checkbox>
      </div>
      <button mat-raised-button color="primary" class="form-action full-width" (click)="onSignin()">sign in</button>
    </div>
  </div>
</div>

<ng-template #spinner>
  <mat-progress-spinner class="spinner" [mode]="'indeterminate'" [diameter]="50"></mat-progress-spinner>
  <p *ngIf="showWaitMessage" class="color-primary wait-message">
    Hang tight, this is taking a bit longer than expected
  </p>
</ng-template>
