@import 'src/variables';

.auth-form-container {
  max-width: 350px;
  padding: 32px;
  border: 4px solid $color-primary;
  background-color: rgba($color-primary, .1);
  margin: auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 6rem;
}

.form {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-action {
    margin-top: 1.6rem;
  }
}
