<div class="container">
  <div class="auth-form-container mat-elevation-z12">
    <h1 class="color-primary app-name">Tesorapp</h1>
    <img src="assets/tesorapp_logo.svg" alt="logo" class="logo">
    <div *ngIf="!loading; else spinner" class="form">
      <mat-form-field color="primary">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="authRequest.username">
      </mat-form-field>
      <mat-form-field *ngIf="authRequest.context === 'sign up'" color="primary">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="authRequest.email">
      </mat-form-field>
      <mat-form-field color="primary">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="authRequest.password">
      </mat-form-field>
      <mat-form-field *ngIf="authRequest.context === 'sign up'" color="primary">
        <mat-label>Re-type password</mat-label>
        <input matInput type="password" [(ngModel)]="reTypedPassword" (keyup)="onPasswordRetype()">
      </mat-form-field>
      <span *ngIf="(authRequest.context === 'sign up') && !passwordsMatch" class="error">
        Passwords do not match
      </span>
      <div *ngIf="authRequest.context === 'sign in'" class="extra-actions-container">
        <mat-checkbox color="primary" [(ngModel)]="authRequest.remember">
          <span class="color-primary">Remember me</span>
        </mat-checkbox>
      </div>
      <button mat-raised-button color="primary" class="form-action full-width" (click)="onMainContextAction()">
        {{ authRequest.context }}
      </button>
      <div class="context-switch-link color-primary pointer" (click)="onSwitchContext()">
        Or <b>click here</b> to {{ authRequest.context === 'sign in' ? 'sign up' : 'sign in' }}
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <mat-progress-spinner class="spinner" [mode]="'indeterminate'" [diameter]="50"></mat-progress-spinner>
  <p *ngIf="showWaitMessage" class="color-primary wait-message">
    Hang tight, this is taking a bit longer than expected
  </p>
</ng-template>
