.container {
  height: 100vh;
  background: transparent;
  overflow-y: hidden;
}

.auth-form-container {
  max-width: 304px;
  padding: 32px;
  border: 4px solid var(--color-primary);
  background-color: rgba(var(--color-primary), .1);
  margin: auto;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 8rem;
}

.form {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-action {
    margin-top: 1.6rem;
  }
}

.spinner {
  margin-top: 1.6rem;
}
