<div class="container">
  <div class="auth-form-container mat-elevation-z12">
    <img src="assets/tesorapp_logo.svg" alt="logo" class="logo">
    <div *ngIf="!loading; else spinner" class="form">
      <mat-form-field color="primary">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="authRequest.username">
      </mat-form-field>
      <mat-form-field color="primary">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="authRequest.password">
      </mat-form-field>
      <button mat-raised-button color="primary" class="form-action full-width" (click)="onSignin()">sign in</button>
    </div>
  </div>
</div>

<ng-template #spinner>
  <mat-progress-spinner class="spinner" [mode]="'indeterminate'" [diameter]="50"></mat-progress-spinner>
</ng-template>
