.container {
  height: calc(100vh - 72px);
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none; // Chrome, safari, opera
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}

.list {
  padding: 8px;
  padding-bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .list-item {
    cursor: pointer;
    width: 100%;
    display: block;
    border: 1px solid var(--color-primary);
    color: var(--color-primary) !important;
    transition: all .3s;
    &:hover {
      background-color: rgba(var(--color-primary), .1);
    }
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

}

.spinner-item {
  display: grid;
  place-items: center;
  margin-top: 10px;
  margin-bottom: 72px;
}
