<cdk-virtual-scroll-viewport #scroller itemSize="72" class="container">

  <mat-list *ngIf="items?.length || loading; else noItems" class="list">

    <ng-container *cdkVirtualFor="let item of items">
      <mat-list-item  class="list-item" (click)="onListItemClicked(item)">
        <h4 mat-line>{{ item.name }}</h4>
        <span mat-line>{{ item.description }}</span>
        <mat-icon [color]="toggleAction ? actionColor : 'primary'" class="list-item-icon"
          (click)="onItemAction(item, $event)">
          {{ toggleAction ? actionIcon : item.icon }}
        </mat-icon>
      </mat-list-item>
    </ng-container>

    <div *ngIf="loading" class="spinner-item">
      <mat-progress-spinner [mode]="'indeterminate'" [diameter]="50"></mat-progress-spinner>
    </div>

  </mat-list>

</cdk-virtual-scroll-viewport>

<ng-template #noItems>
  <p class="color-primary no-items">This list is empty</p>
</ng-template>
