<div class="container">

  <mat-list class="list">
    <mat-list-item *ngFor="let item of items" class="list-item" (click)="onListItemClicked(item)">
      <h4 mat-line>{{ item.name }}</h4>
      <span mat-line>{{ item.description }}</span>
      <mat-icon color="primary" class="list-item-icon">{{ item.icon }}</mat-icon>
    </mat-list-item>
  </mat-list>

  <div class="list-actions">
    <button mat-fab class="list-actions-btn" color="primary" (click)="onAddBtnClicked()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>

