<div class="container">

  <mat-list class="list">
    <mat-list-item *ngFor="let item of items" class="list-item" (click)="onListItemClicked(item)">
      <h4 mat-line>{{ item.name }}</h4>
      <span mat-line>{{ item.description }}</span>
      <mat-icon [color]="toggleAction ? actionColor : 'primary'" class="list-item-icon"
        (click)="onItemAction(item, $event)">
        {{ toggleAction ? actionIcon : item.icon }}
      </mat-icon>
    </mat-list-item>
    <!-- @ TODO remove this empty list-item when infinite scroll is working -->
    <mat-list-item></mat-list-item>
  </mat-list>

</div>

