@import 'src/variables';

.form, .form-actions {
  margin: 32px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  button:not(:first-child) {
    margin-left: 8px;
  }
}

.participants-section-title {
  margin-top: 1.6rem;
}

.participant-control {
  display: flex;
  align-items: center;
}
