.form, .form-actions {
  margin: 32px;
}

.participants-section-title {
  margin-top: 1.6rem;
}

.participant-control {
  display: flex;
  align-items: center;
}

.container {
  overflow-y: scroll;
}
