@import 'variables';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  background-color: $color-grey-dark-1;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

[mat-raised-button], [mat-button], [mat-stroked-button] {
  text-transform: uppercase;
}

.full-width {
  width: 100%;
}

.color-grey-dark-1 {
  color: $color-grey-dark-1;
}

.primary-background {
  background-color: $color-primary;
}


// Material overrides

.mat-form-field-label {
  color: $color-primary !important;
}

.mat-form-field-underline {
  background-color: $color-primary !important;
}

.mat-input-element {
  color: $color-primary !important;
}
