@import 'theme';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  background-color: $color-grey-dark-1;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

[mat-raised-button], [mat-button], [mat-stroked-button] {
  text-transform: uppercase;
}

[mat-stroked-button] {
  border: 1px solid $color-primary !important;
}

.full-width {
  width: 100%;
}

.color-grey-dark-1 {
  color: $color-grey-dark-1;
}

.color-primary {
  color: $color-primary;
}

.primary-background {
  background-color: $color-primary;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  button:not(:first-child) {
    margin-left: 8px;
  }
}


// Material overrides

.mat-form-field-label {
  color: $color-primary !important;
}

.mat-form-field-underline {
  background-color: $color-primary !important;
}

.mat-input-element {
  color: $color-primary !important;
}

.mat-select-arrow {
  color: $color-primary !important;
}

.mat-select-value-text, .mat-select-value {
  color: $color-primary !important;
}

.mat-select-panel {
  .mat-option-text {
    color: $color-grey-dark-1 !important;
  }
  background-color: $color-primary !important;
}

.mat-button-disabled {
  color: gray !important;
}

[mat-dialog-actions] {
  display: flex;
  justify-content: flex-end;
}

.mat-datepicker-toggle, .mat-datepicker-toggle-default-icon {
  color: $color-primary !important;
}

.mat-pseudo-checkbox::after {
  color: $color-grey-dark-1 !important;
}

.mat-checkbox .mat-checkbox-checkmark-path {
  stroke: $color-grey-dark-1 !important;
}

.mat-checkbox .mat-checkbox-frame {
  border-color: $color-primary !important;
}
